.header-container {
  width: 100%;
  display: flex;
  position: relative;
  top: 0;
  -webkit-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.6);
  padding: 15px 0;
  z-index: 1;
}

.header-contents {
  max-width: 1207px;
  margin: 0 auto !important ;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.header-container .logo img {
  max-width: 300px;
}

.links a:first-child {
  margin-right: 15px;
}

.links a {
  cursor: pointer;
  padding: 10px 20px;
  transition: all ease-in-out 200ms;
  border-radius: 8px;
}

.links a:hover {
  background-color: #000;
  color: #fff;
}

.login img {
  transition: all ease-in-out 200ms;
  cursor: pointer;
}

.login:hover img {
  transform: rotate(90deg);
}

.login-open img {
  transform: rotate(90deg);
  transition: all ease-in-out 200ms;
  cursor: pointer;
}

.login-block {
  position: absolute;
  right: 13%;
  bottom: -127%;
  background-color: #fff;
  padding: 20px 30px;
  -webkit-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.6);
}

.login-block button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  color: #000;
  border: 1px solid #000;
  height: 30px;
  font-weight: 500;
  transition: all ease-in-out 200ms;
  cursor: pointer;
}

.login-block button:hover {
  color: #fff;
  background-color: #000;
}

.block-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.block-form input {
  all: unset;
  border: 1px solid #000;
  width: 100%;
  margin: 0;
}

.login-block form {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.header-mobile-container {
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.6);
  padding: 10px 15px;
  max-width: 100%;
}

.header-mobile-contents {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  max-width: 100%;
}

.login-mobile-open {
  position: relative;
}

.modal-login {
  position: fixed;
  background-color: rgba(0,0,0,0.4);
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.modal-login button {

}

.modal-content {
  height: 320px;
  width: 80%;
  background-color: #fff;
  margin: 30% auto;
  padding: 20px;
}